#astronauts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.astronaut {
  position: absolute;
  background-image: url('/astronaut.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation-name: floatUp;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0.8;
  bottom: -400px;
}

@keyframes floatUp {
  from { 
    transform: translateY(0px);
  }
  to { 
    transform: translateY(-100vh);
  }
}
